<main>
  <% if user_signed_in? %>
    <p>Conectado como <%= current_user.email %>.</p>
    <%= button_to "Sair", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Criar conta", new_user_registration_path %>
    <%= link_to "Entrar", new_user_session_path %>
  <% end %>
</main>
